<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Activité de test (présente uniquement dans l'APK androidTest) servant de
         cible de saisie pour faire apparaître le clavier AiCorrect. -->
    <application>
        <activity
            android:name="com.example.aicorrect.EditorTestActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light" />
    </application>
</manifest>
